body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    min-height: 100%;
    align-items: center;
  }
  .about-us-box {
    position: relative;
    top: 1em;
    background-color: #14ae5c;
    color: white;
    border: 3px solid #04723e;
    border-radius: 0.5em;
    width: 30%;
    height: 4em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
  }
  .container{
    position: relative;
    margin: auto;
    top: 7em;
    width: fit-content;
    width: -moz-fit-content; /* For Firefox compatibility */
    width: -webkit-fit-content; /* For Safari compatibility */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    animation: slide-right 1s forwards;
  }
  .tab{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #00308f;
    height: 20em;
    width: 14em;
    text-align: center;
    border-radius: 1em;
    margin: 1em;
  }
  .tabImage{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabImage img{
    position: relative;
    border: 1px solid white;
    border-radius: 3px;
    width: 60%;
  }
  footer{
    background-color: #13274f;
  }
  @media only screen and (max-width: 480px) {
    .about-us-box {
      width: 80%;
      height: 3em;
      font-size: 24px;
    }
    .container{
      top: 3em;
      margin: auto;
      justify-content: center;
      align-items: center;
    }
    .tab{
      width: 11em;
      height: 20em;
      margin: 0.5em;
    }
  }
  @keyframes slide-right{
    from{
      right:-100%;
    }
    to{
      right:0;
    }
  }