html{
  height: 100%;
}
body {
    position: relative;
    align-items: center;
    background-color: #F5F5F5;
    margin: 0;
    min-height: 100%;
  }
  a{
    text-decoration: none;
  }
  .about-us-box {
    position: relative;
    top: 1em;
    background-color: #14ae5c;
    color: white;
    border: 3px solid #04723e;
    border-radius: 0.5em;
    width: 30%;
    height: 4em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
  }
  .container{
    position: relative;
    margin: auto;
    top: 7em;
    width: fit-content;
    width: -moz-fit-content; /* For Firefox compatibility */
    width: -webkit-fit-content; /* For Safari compatibility */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    animation: slide-right 2s forwards;
  }
  .tab{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #00308f;
    height: 20em;
    width: 14em;
    text-align: center;
    border-radius: 1em;
    margin: 1em;
  }
  .tabImage{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabImage img{
    position: relative;
    border: 1px solid white;
    border-radius: 3px;
    width: 60%;
  }footer {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #13274f;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    height: 6em;
  }
  .contactUs {
    width: fit-content;
    width: -moz-fit-content; /* For Firefox compatibility */
    width: -webkit-fit-content; /* For Safari compatibility */
  }
  .abtUs {
    background-color: #13ae5b;
    color: white;
    border: 3px solid #006436;
    border-radius: 0.5em; /* Be consistent on using sizes.  use variables to make it more systematic.*/
    width: 8em;
    height: 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
    transition: 0.3s ease;
  }
  .abtUs a {
    display: inline-block;
  }
  .abtUs:hover{
    transform: scale(1.1);
  }
  .logos {
    display: flex;
    position: relative;
    align-items: center;
    height: fit-content;
    height: -moz-fit-content; /* For Firefox compatibility */
    height: -webkit-fit-content; /* For Safari compatibility */
    width: fit-content;
    width: -moz-fit-content; /* For Firefox compatibility */
    width: -webkit-fit-content; /* For Safari compatibility */
    height: -moz-fit-content; /* For Firefox compatibility */
    height: -webkit-fit-content; /* For Safari compatibility */
  }
  .logos a {
    display: inline-block;
    text-align: center; /* Centering using inline-block*/
  }
  .fb{
      transition: 0.3s ease;
  }
  .fb:hover{
      transform: scale(1.1);
  }.ig{
      transition: 0.3s ease;
  }
  .ig:hover{
      transform: scale(1.1);
  }
  @media only screen and (max-width: 767px) {
    body{
      margin: 0;
      min-height: 100%;
      padding-bottom: 10em;
    }
    .about-us-box {
      width: 80%;
      height: 3em;
      font-size: 24px;
    }
    .container{
      top: 3em;
      margin: auto;
      justify-content: center;
      align-items: center;
    }
    .tab{
      width: 11em;
      height: 20em;
      margin: 0.5em;
    }
  }
  @media only screen and (max-width: 1280px){
    body{
      padding-bottom: 15em;
    }
  }
  @keyframes slide-right{
  from{
    right:-150%;
  }
  to{
    right:0;
  }
}