html{
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    background-color: white;
    padding-bottom: 9rem;
}
header {
    position: relative;
    color: white;
    display: flex;
    background-color: #13274f;
    top: -0.472em;
    left: 0;
    right: 0;
    height: 6em;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
.placeholder{
    display: flex;
    flex-wrap: wrap;
}
.textTitle{
    text-align: center;
}
.exploreText{
    position: relative;
    margin: auto;
    top: 1.5em;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}
.touristSpot{
    color: white;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    background-color: #002877;

}.exploreText, .touristSpot {
    width: -moz-fit-content; /* For Firefox compatibility */
    width: -webkit-fit-content; /* For Safari compatibility */
    width: fit-content; /* Standard */
}

.touristLearnMore{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    height: auto;
    color: white;
    background-color: #13ae5b;
    padding: 4px;
    border: 3px solid #006436;
    border-radius: 3px;
    position: relative;
    top: -1.5em;
}
.touristImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18em;
    height: 15em;
}
.touristImage img{
    position: relative;
    top: -1em;
    border: 1px solid white;
    border-radius: 3px;
    width: 55%;
}
.touristText{
    font-size: medium;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: -2.5em;
}
footer{
    position: absolute;
    color: white;
    background-color: #13274f;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    height: 6em;
}
.abtUs a{
    display: inline-block;
}
.contactUs{
    position: relative;
    top: -1.6em;
    left: 41vw;
    width: fit-content;
    width: -moz-fit-content; /* For Firefox compatibility */
    width: -webkit-fit-content; /* For Safari compatibility */
}
.abtUs{
    background-color: #13ae5b;
    color: white;
    border: 3px solid #006436;
    border-radius: 0.5em;
    width: 8em;
    height: 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
}
.logos{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    top: 1.7em;
    left: 66em;
    height: fit-content;
    height: -moz-fit-content; /* For Firefox compatibility */
    height: -webkit-fit-content; /* For Safari compatibility */
    width: fit-content;
    width: -moz-fit-content; /* For Firefox compatibility */
    width: -webkit-fit-content; /* For Safari compatibility */
    height: -moz-fit-content; /* For Firefox compatibility */
    height: -webkit-fit-content; /* For Safari compatibility */
}
.logos a{
    display: inline-block;
    width: 50%;
}
.fb{
    position: relative;
    left: -1em;
}
@media only screen and (max-width: 480px){
    header{
        top: -0.43em;
        left: 0;
        right: 0;
    }
    body{
        padding-bottom: 10rem;
    }
    .placeholder{
        position: relative;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .touristImage{
        display: flex;
        justify-content: center;
        align-items: center;
        width:7.3em;
        height: 10em;
    }
    .touristImage img{
        position: relative;
        top: -1em;
        border: 1px solid white;
        border-radius: 3px;
        width: 70%;
    }
    .touristText{
        font-size: small;
        font-weight: 500;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: -2.4em;
    }
    .touristLearnMore{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        font-size: large;
        height: auto;
        color: white;
        background-color: #13ae5b;
        padding: 4px;
        border: 3px solid #006436;
        border-radius: 6px;
        position: relative;
        top: -1.2em;
    }
    footer{
        left: 0;
        right: 0;
        bottom: 1;
    }
    .contactUs{
        top: .6em;
        left: 0;
        right: 0;
        margin: auto;
    }
    .abtUs{
        position: relative;
        top: -2em;
        left: -3.5em;
    }
    .logos{
        left: 15em;
    }
    .fb{
        position: relative;
        left: -2em;
    }
}