body{
    position: relative;
    min-height: 100%;
    margin: 0;
    background-color: white;
    padding-bottom: 6rem;
}
.vid{
    height: 80%;
    width: 80%;
}
.vidContainer{
    margin: auto;
    justify-content: center;
    display: flex;
}